.body {
    background-color: red;
}

#nfe-container {
	font-family: sans-serif;
	font-weight: normal;
	line-height: 1.4;

	/* Needed for detecting the background color with getComputedStyle */
	background-color: inherit;
}